.btn-style {
        display: inline-block;
        color: white;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 16px;
        line-height: 24/16 * 100%;
        padding: 16px 24px;
        text-align: center;
}